body{
    background-color: #29334B;
}

#background-img{
    background-image: url(../img/ibg.jpg);
    background-size: cover;
}

#boutonderoulant{
    background-color: #E3A592;
}

.couleurbouton{
    color: #E3A592;
    font-size: 30px;
    font-family:Georgia, serif;
}

#bandereaubas{
    width: 558px;
    height: 150px;
    
}

#logogoogle{
    width: 40px;
    height: 40px;
    
}


#logoreddit{
    width: 40px;
    height: 40px;
    
}


#logoyoutube{
    width: 40px;
    height: 40px;
    
}


#logoinstagram{
    width: 40px;
    height: 40px;
    
}


#logofacebook{
    width: 40px;
    height: 40px;
    
}


#logotwitter{
    width: 40px;
    height: 40px;
    
}

#imgcommande{
    width: 280px;
    height: 180px;
    display:block;
    /*justify-content:left;*/
    justify-content:start;
    /*border-radius: 50px;*/
    /*border:solid;*/
    /*border:10px solid;*/
}

#rectangleviolet{
    background-color: #62426D;
    border:solid;
    border:2px solid;
    height: auto;
    width: 700px;
    
}

#couleurtxt{
    color: #F50B0B;
    font-family: Georgia, serif;
    font-size:12px;
    font-weight: bold;
}

#NometPrenomCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#emailCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#telephoneCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#votreadresseCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

.txtrectangle{
    font-family: Georgia, serif;
    font-size:15px;
    font-weight: bold;
    color:white;
}

.cardscolor{
    background-color: #360E44 ;
}

.txtcolor{
    color:white;
}

/*#text1{
    display:block;
    text-align: center;
}

#text2{
    display:block;
    margin-left: 65%;
    margin-bottom: 30%;
}*/