body{
    background-color: #29334B;
}

#background-img{
    background-image: url(../img/ibg.jpg);
    background-size: cover;
}

#boutonderoulant{
    background-color: #E3A592;
}

.couleurbouton{
    color: #E3A592;
    font-size: 30px;
    font-family:Georgia, serif;
}

#bandereaubas{
    width: 558px;
    height: 150px;
    
}

#logogoogle{
    width: 40px;
    height: 40px;
    
}


#logoreddit{
    width: 40px;
    height: 40px;
    
}


#logoyoutube{
    width: 40px;
    height: 40px;
    
}


#logoinstagram{
    width: 40px;
    height: 40px;
    
}


#logofacebook{
    width: 40px;
    height: 40px;
    
}


#logotwitter{
    width: 40px;
    height: 40px;
    
}

#image{
    width: 1320px;
    height: 300px;
    background-color: #111b31;
}

#couleurtxt{
    color: #F50B0B;
    font-family: Georgia, serif;
    font-size:12px;
    font-weight: bold;
}

#NometPrenomCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#emailCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#telephoneCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#votreadresseCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

