/*CONTACT*/

body{
    background-color: #29334B;
}

#background-img{
    background-image: url(../img/ibg.jpg);
    background-size: cover;
}

#boutonderoulant{
    background-color: #E3A592;
}

.couleurbouton{
    color: #E3A592;
    font-size: 30px;
    font-family:Georgia, serif;
}

#bandereaubas{
    width: 558px;
    height: 150px;
    
}

.logoFooter{
    width: 50px;
    height: 50px;
    margin-top: 60px;
}

.mentionsLegPolConf{
    margin-top: 60px;
    font-weight: bold;
}

#image{
    width: 1320px;
    height: 300px;
}

#couleurtxt{
    color: #F50B0B;
    font-family: Georgia, serif;
    font-size:12px;
    font-weight: bold;
}

.coordonneesCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#emailCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#telephoneCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

#votreadresseCSS{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:#E3A592;
}
