/*MENTIONS LEGALES ET POLITIQUE DE CONFIDENTIALITE*/

body{
    background-color: #29334B;

}

#boutonderoulant{
    background-color: #E3A592;
}

.couleurbouton{
    color: #E3A592;
    font-size: 30px;
    font-family:Georgia, serif;
}

p, ul{
    color:#E3A592;
    font-family: Georgia, serif;
    font-size:19px;
    text-align: justify;
}

#bandereaubas{
    width: 558px;
    height: 150px;
    
}

.logoFooter{
    width: 50px;
    height: 50px;
    margin-top: 60px;
}

.mentionsLegPolConf{
    margin-top: 60px;
    font-weight: bold;
    text-decoration: none;
}

h2, h3{
    color:#E3A592;
    font-family: Georgia, serif;
    font-size:25px;
    font-weight: bold;
    text-align: start;
}

hr{
    border: 1px solid #E3A592;
}

h1{
    color:#E3A592;
}

a{
    color:#E3A592;
}