/*PLATS PAR CATEGORIES*/

body{
    background-color: #29334B;
}

#boutonderoulant{
    background-color: #E3A592;
}

.couleurbouton{
    color: #E3A592;
    font-size: 30px;
    font-family:Georgia, serif;
}

#bandereaubas{
    width: 558px;
    height: 150px; 
}

.logoFooter{
    width: 50px;
    height: 50px;
    margin-top: 60px;
}

.mentionsLegPolConf{
    margin-top: 60px;
    font-weight: bold;
}

#image{
    width: 1320px;
    height: 300px;
}

.bprecsuiv{
    color:#E3A592;
    font-family: Georgia, serif;
    background-color: #62426D;
    border-color: black;
}

#titre{
    background-color: #62426D;
    border:2px solid;
    border-radius: 8px;
    color:#E3A592;
    font-family: Georgia, serif;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

.cardscolor{
    background-color: #360E44 ;
}

.txtcolor{
    color:white;
}

#boutoncommander{
    margin-top: 40px;
    margin-left: 100px;
}

.titreconteneur{
    width:2000px;
  min-height:15px;
}

a{
    text-decoration: none;
    color:#E3A592;
}